div {
  text-align: center;
  padding: 150px;
}

/* svg:hover{
  animation: tada;
  animation-duration: 3s
} */





/* svg {
	fill:black;
  } */

  /* .colorChange{
    width:50%;
  }
  
  #colorBackground{
    -webkit-animation: color 3s ease infinite;
    -o-animation: color 3s ease infinite;
    -moz-animation: color 3s ease linear infinite;
    animation: color 3s ease infinite;
  }

  @keyframes color {
    0%, 100%{
    fill:rgba(94, 19, 233, 0.945);
    }
    50% {
    fill: hotpink
    
      }
    }

  
  .lineAnimation{
    width:50%;
  }

	#background {
	fill:none;
	stroke:#000000;
	stroke-miterlimit:50;
	stroke-dasharray: 300;
	stroke-dashoffset:0;
	-webkit-animation: dash 8s ease infinite;
	-o-animation: dash 8s ease infinite;
	-moz-animation: dash ease linear infinite;
	animation: dash 8s ease infinite;
  }
  
  #l, #firstA, #r, #secondA{
    -webkit-animation: blink 8s ease infinite;
    -o-animation: blink 8s ease infinite;
    -moz-animation: blink ease linear infinite;
    animation: blink 8s ease infinite;

  }

  @-webkit-keyframes blink {
    0%, 100%{
    opacity: 1;
    transform:skewX(15deg);
    }
    50% {
      opacity: 0;
      transform:skewX(2deg);
      }
    }
@-webkit-keyframes dash {
	0%, 100%{
  stroke-dashoffset: 1000;
  transform:skewY(15deg)
	}
	50% {
  stroke-dashoffset:2000;
  transform:skewY(2deg)
  
		}
  } */

